li{
    color:rgb(126, 94, 254);
}

/*
html{
    property: value;
}
*/

/* css syntax for a class */
.rightDIV{
    /* position: static; */
    /*position: absolute;*/
    /*position: relative;*/
    position: fixed;

    border: 2px solid #000;
    right: 100px;
    top: 80px;
    bottom: 0; 
    right: 0;
    width: 200px;
    height: 50px;
}

.relative{
    position: relative;
    width: 100px;
    height: 50px;
    border: 2px solid#000;
}

.absolute{
    position: absolute;

    border: 2px dashed #000;
    right: 400px;
    top: 125px;
    bottom: 0; 
    width: 50px;
    height: 50px;
    padding-left: 50px;
    padding-top: 50px;
    /* //same as above: (top right bottom left)
    padding: 50px 0px 0px 50px;
    */
}


.sticky{
    position: sticky;
    top: 0;
    height: 50px;
    width: 50px;
    /*padding: 10px;*/
    background-color:cadetblue;
    margin-top: 15px;
    margin-left: 15px;
    border: 2px solid teal;


}
    
a{
    color:orchid;
    font-family: cursive;
    background-color: rgb(253, 230, 255);
}

a:link{/*normal, unvisited link*/
text-decoration: none;
}

a:visited{/*a link that user has visited*/

}

a:hover{ /*a link when the user mouses over it*/
text-decoration: underline;
font-style: italic;
}

a:active{ /*a link the moment is it clicked*/

}

/*css syntax for an ID*/
#secondPara{
/*text*/
}

